<p>
  <a href="#but">But</a></br>
  <a href="#création-de-personnage">Création de personnage</a></br>
   <!--ul>
  <li> <a href="#création-de-personnage">Statistiques</a></li>
  <li> <a href="#création-de-personnage">Inventaire</a></li>
  <li> <a href="#création-de-personnage">Fétiche</a></li>
   <li> <a href="#création-de-personnage">capacités spéciales</a></li>
</ul> </br-->
  <a href="#pièce">Pièce</a></br>
  <a href="#crafting">Crafting</a></br>
  <a href="#en-pratique">En pratique</a></br>
  <a href="#documents-utiles">Documents utiles</a></br>
</p>