<p>
  <a href="#but">But</a></br>
  <a href="#création-de-personnage">Création de personnage</a></br>
  &emsp; <a href="#statistiques">Statistiques</a></br>
  &emsp;<a href="#inventaire">Inventaire</a></br>
  &emsp;<a href="#fétiche">Fétiche</a></br>
  &emsp;<a href="#capacités-spéciales">Capacités spéciales</a></br>
  <a href="#pièce">Pièce</a></br>
    &emsp; <a href="#statistiques">Types de cartes</a></br>
  &emsp;<a href="#inventaire">Tests</a></br>
  &emsp;<a href="#fétiche">Combat</a></br>
  &emsp;<a href="#capacités-spéciales">Dialogue</a></br>
    &emsp;<a href="#capacités-spéciales">Echange d'objets</a></br>
  <a href="#crafting">Crafting</a></br>
  <a href="#en-pratique">En pratique</a></br>
  &emsp; <a href="#statistiques">Préparation</a></br>
  &emsp;<a href="#inventaire">Débuter une partie</a></br>
  <a href="#documents-utiles">Documents utiles</a></br>
</p>