<p>
  <a href="#but">But</a></br></br>
  <a href="#création-de-personnage">Création de personnage</a></br>
  &emsp;&emsp;<a href="#statistiques">Statistiques</a></br>
  &emsp;&emsp;<a href="#inventaire">Inventaire</a></br>
  &emsp;&emsp;<a href="#fétiche">Fétiche</a></br>
  &emsp;&emsp;<a href="#capacités-spéciales">Capacités spéciales</a></br></br>
  <a href="#pièce">Pièce</a></br>
  &emsp;&emsp;<a href="#types-de-cartes">Types de cartes</a></br>
  &emsp;&emsp;<a href="#tests">Tests</a></br>
  &emsp;&emsp;<a href="#combats">Combats</a></br>
  &emsp;&emsp;<a href="#dialogues">Dialogues</a></br>
  &emsp;&emsp;<a href="#échanges-dobjets">Échanges d'objets</a></br></br>
  <a href="#crafting">Crafting</a></br></br>
  <a href="#en-pratique">En pratique</a></br>
  &emsp;&emsp;<a href="#préparation">Préparation</a></br>
  &emsp;&emsp;<a href="#débuter-une-partie">Débuter une partie</a></br></br>
  <a href="#documents-utiles">Documents utiles</a></br>
</p>